<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
</head>
<body>
<!--th:action=""是thymeleaf语法，可以去学习-->
<form th:action="@{/user/handleLogin}" method="post">
    <label for="name">用户名</label><br />
    <input id="name" type="text" name="name"><br />
    <label for="password">密码</label><br />
    <input id="password" type="password" name="password"><br />
    <button type="submit"> 登录</button>
    <!--就是UserController类中的map.put("msg","用户名或密码错误")-->
    <p th:text="${msg}"></p>
</form>
</body>
</html>